.ver-solicitud-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bec5bc;
  padding: 2rem 2rem;
  border-radius: 12px;
  margin: 1.2rem;
  height: calc(100% - 45vh);
  width: 98%;
  max-width: 2000px;
  box-sizing: border-box;
  align-self: center;
}

  .tabla-form {
    width: 80%;
    margin: 6% auto;
    border-collapse: collapse;
  }

  .btn-regresar {
    margin: 0 0 3% 45%;
    background-color: #0a351c;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn-regresar:hover {
    background-color: #6c9a06;
  }